/*1200px to 1440px*/
@media only screen and (max-width: 1440px) {
  #bpt_eventbody {
    padding-top: 100px;
  }

  #nav-items {
    padding-top: 18px;
}

  section {
    padding-bottom: 40px;
  }

}


/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {

}

/* Small tablet to big tablet: from 768px to 1024px */
@media only screen and (max-width: 1024px) {
  #nav-items li {
    font-size: 120%;
    padding-top: 3px;
  }

  #about-box,
  #about-drop-down-box {
    font-size: 100%;
    padding: 10px;
  }

  #read-more {
    padding: 8px;
    height: auto;
    width: auto;
  }

  #contact form {
    font-size: 100%;
  }

}

/* Small phones to small tablets: from 481px to 768px */
@media only screen and (max-width: 768px) {
  #nav-items li {
    font-size: 160%;
  }

  #about-box,
  #about-drop-down-box{
    font-size: 100%
  }

  #read-more {
    padding: 4px;
    height: auto;
    width: auto;
  }

  #media h3,
  .media-box {
    font-size: 120%;
  }

  #contact form {
    padding: 20px;
    font-size: 160%;
  }


}

/* Small phones: from 321px to 425px */
@media only screen and (max-width: 425px) {
  #nav {
    height: 30px;
  }

  #nav-items li {
    font-size: 200%;
    margin-right: 10px;
    padding-top: 4px;
  }

  #nav-items li:first-of-type {
    margin-left: 5px;
  }

  #login,
  #logged-in {
    left: 2px;
    font-size: 400%;

  }

  #logged-in button {
    height: 25px;
    width: 40px;
  }

  #login button {
    margin-left: 5px;
  }

  #about-box,
  #about-drop-down-box {
    padding: 10px;
    font-size: 200%;
  }

  h1 {
    font-size: 300%;
  }

  #bpt-small h2 {
    color: rgb(107, 22, 107);
    text-align: center;
  }

  #bpt-large {
    display: none;
  }

  #bpt-small {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .media-box {
    padding: 0px;
    margin: 0;
  }

  #media h3 {
    font-size: 200%;
    margin-bottom: 20px;
  }

  #media h3:last-of-type {
    margin-top: 40px;
  }

  .media-box {
    font-size: 200%;
  }

  #contact form {
    padding: 10px;
    font-size: 200%;
    width: auto;
  }

  input[type=text] {
    height: 15px;
  }

  #contact button {
    height: 25px;
    width: 80px;
  }

  #sqr {
    width: 400px;
  }

}

@media only screen and (max-width: 375px) {

  #nav-items li {
    font-size: 200%;
    padding-top: 5px;
  }

  #contact form {
    padding: 10px;
    font-size: 225%;
  }

  input[type=radio] {
    margin-left: 10px;
}

  #sqr {
    width: 340px;
  }

}

/* Small phones: from 0 to 320px */
@media only screen and (max-width: 320px) {
  #nav-items li {
    margin-right: 5px;
    padding-top: 6px;
  }

  #sqr {
    width: 280px;
  }

  input[type=radio] {
    margin-left: 5px;
  }

}
