


/*1200px to 1440px*/
@media only screen and (max-width: 1440px) {
  #nav-items li {
    padding-top: 25px;
  }

  #bpt_eventbody {
    padding-top: 100px;
  }

  section {
    padding-bottom: 40px;
  }

}


/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {

}

/* Small tablet to big tablet: from 768px to 1024px */
@media only screen and (max-width: 1024px) {
  #nav-items li {
    font-size: 120%;
    padding-top: 28px;
  }

  #about-box {
    font-size: 100%;
    padding: 10px;
  }

  #contact form {
    font-size: 100%;
  }

}

/* Small phones to small tablets: from 481px to 768px */
@media only screen and (max-width: 768px) {
  #nav-items li {
    font-size: 160%;
    padding-top: 28px;
  }

  #about-box {
    font-size: 100%
  }

  #media h3,
  .media-box {
    font-size: 120%;
  }

  #contact form {
    padding: 20px;
    font-size: 160%;
  }


}

/* Small phones: from 321px to 425px */
@media only screen and (max-width: 425px) {

  #about {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.048)), url("../img/Body Notes 2.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #nav-items li {
    font-size: 200%;
    margin-top: 5px;
    padding-top: 0px;
    margin-right: 10px;
  }

  #nav-items {
    padding-top: 50px;
  }


  #login,
  #logged-in {
    left: 2px;
    font-size: 400%;

  }

  #logged-in button {
    height: 25px;
    width: 40px;
  }

  #login button {
    margin-left: 5px;
  }

  #about,
  #contact {
    padding-bottom: 400px;
  }

  #about-box {
    padding: 10px;
  }

  h1 {
    font-size: 300%;
  }

  #about-box {
    font-size: 200%;
  }

  #bpt-small img {
    margin: 0 115px;
  }

  #bpt-small h2 {
    color: rgb(107, 22, 107);
    text-align: center;
  }

  #bpt-large {
    display: none;
  }

  #bpt-small {
    padding-top: 50px;
    display: block;
  }

  #media {
    padding-bottom: 400px;
  }

  .media-box {
    padding: 0px;
    margin: 0;
  }

  #media h3 {
    font-size: 200%;
    margin-bottom: 20px;
  }

  #media h3:last-of-type {
    margin-top: 40px;
  }

  .media-box {
    font-size: 200%;
  }

  #contact form {
    padding: 10px;
    font-size: 200%;
  }

  input[type=text] {
    height: 15px;
  }

  #contact button {
    height: 25px;
    width: 80px;
  }

  #sqr {
    width: 400px;
  }

}

@media only screen and (max-width: 375px) {

  #nav-items li {
    font-size: 200%;
    margin-top: 10px;
    padding-top: 0px;
  }


  #bpt-small img {
    margin: 0 95px;
  }

  #contact form {
    padding: 10px;
    font-size: 225%;
  }

  input[type=radio] {
    margin-left: 10px;
}

  #sqr {
    width: 340px;
  }

}

/* Small phones: from 0 to 320px */
@media only screen and (max-width: 320px) {

  #bpt-small img {
    margin: 0 68px;
  }

  #sqr {
    width: 300px;
  }

  input[type=radio] {
    margin-left: 5px;
}

}
