/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/

* , h1 {
    margin: 0;
    padding: 0;
}

html, body, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    overflow-x: hidden;
}

body{
    height:100%
   }

section {
    padding-bottom: 100px;
}
/*------------------------------------------------*/
/*NAV*/
/*------------------------------------------------*/

#nav-items {
    float: right;
}

#nav-items li {
    color: rgb(107, 22,107);
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    padding-top: 16px;
}

#nav-items li a {
    text-decoration: none;
}

#nav-items li:first-of-type {
    margin-left: 20px;
}

#login {
    font-size: 24px;
    position: fixed;
    height: auto;
    width: auto;
    top: 80px;
    right: 20px;;
    display: block;
    z-index: 10;
    outline: 0;
    background: #fff;
    max-width: 100%;
    border: solid 2px #c331f0;
    max-height: 100%;
    overflow-y: auto;

}

#login form {
    padding: 20px;
}

#login button {
    margin-left: 200px;

}

#login input {
    margin-top: 20px;
}

#logged-in {
    position: fixed;
    height: auto;
    width: auto;
    top: 80px;
    right: 20px;
    display: block;
    z-index: 10;
    outline: 0;
    background: #fff;
    max-width: 100%;
    border: solid 2px #c331f0;
    max-height: 100%;
    overflow-y: auto;
}

#logged-in h4 {
    text-align: center
}

#logged-in-box {
    padding: 20px
}

#link-admin {
    text-decoration: none;
}

.x-out {
    text-align: center;
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(221, 218, 218);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: white;
    float: right;
    border: solid 1px rgb(189, 187, 187);
}

#logged-in button:first-of-type {
    width: 80px;
    font-size: 16px;
}

#logged-in button:last-of-type {
    width: 120px;
    margin-left: 20px;
}

/*------------------------------------------------*/
/*EVENTS*/
/*------------------------------------------------*/

#event-headline {
    padding-top: 200px;
}

#event-headline h1 {
    color: rgb(107, 22, 107);
    margin: 0;
    text-align: center;
}

#events div {
    margin: auto;
}

#bpt_eventbody {
    padding-top: 200px;
}

#bpt-large {
    display: block;
}

#bpt-small {
    display: none;
}

/*------------------------------------------------*/
/*ABOUT*/
/*------------------------------------------------*/

#about {
    color:  rgb(107, 22, 107);
    font-weight: bolder;
    padding: 20px;
    display: inline-block;
}

#about-box {
    font-weight: normal;
    border: solid 2px goldenrod;
    font-size: 80%;
    background-color: rgba(136, 83, 136, 0.644);
    color: white;
    line-height: 150%;
    padding: 40px;
    margin-top: 20px;
}

/*------------------------------------------------*/
/*MEDIA*/
/*------------------------------------------------*/

#media {
    padding: 50px;
    color:  rgb(107, 22, 107);
    font-weight: bolder;
    text-align: center;
}

#media a {
    text-decoration:  none;
    color: white;
}

#media h3 {
    padding-top: 60px;
}


.media-box {
    background-color: rgba(136, 83, 136, 0.644);
    padding: 15px;
    margin: 10px;
    border: solid 2px goldenrod;
    margin-top: 40px;
}

.media-box h4 {
    margin: 15px;
    color: white;
}

/*------------------------------------------------*/
/*CONTACT*/
/*------------------------------------------------*/

#contact {
    font-weight: bolder;
}

#contact h1 {
    text-align: center;
    color: rgb(107, 22, 107);
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

#contact form{
    font-size: 80%;
    margin: auto;
    width: 900px;
    color: rgb(107, 22, 107);
    padding-left: 50px;
    background-color: rgba(221, 221, 221, 0.651);
    padding-bottom: 40px;
    border: solid 2px rgb(107, 22, 107);
}

input[type=text] {
    font-size: 100%;
    height: 25px;
}

input[type=radio] {
    margin-left: 20px;
}

button {
    margin-top: 25px;
    height: 50px;
    width: 150px;
    background-color: rgb(107, 22, 107);
    color: white;
    font-size: 75%;
    border: solid 2px goldenrod
}

.form-input-item {
    padding-top: 20px;
}

#sqr {
    width: 600px;
}

/*------------------------------------------------*/
/*ADMIN PAGE*/
/*------------------------------------------------*/
#go-home {
    float: right;
    margin-right: 15px;
}

#admin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(212, 150, 231);
}

#admin button {
    font-size: 16px;
}

#admin h4 {
    margin-top: 25px;
}

#admin form {
    padding: 100px 100px;
    padding-bottom: 0;
}

textarea {
    margin-top: 20px;
}

#images {
    padding: 100px;
}

#image-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-button {
   margin-right: 15px;
}

#add-social-media {
    padding-bottom: 200px;
}

#add-media input,
#add-social-media input {
    margin-left: 15px;
}

#ticket-link {
    float: right;
}

.image {
    height: 200px;
    margin-left: 25px;
    padding-top: 50px;
}

/*------------------------------------------------*/
/*CAROUSEL*/
/*------------------------------------------------*/

.slider-box {
    background-color: rgba(76, 0, 130, 0.644);
    padding-top: 10px;
}
